/* Header Start*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	/* border: 1px solid red; */
}
body{
	background-color: #2a2a2a;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	background-color: #2a2a2a;
	position: relative;
}
.top-menu-nav a{
	color: #8f8f8f;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-style: bold;
	font-size: 14px;
	position: relative;
}
.top-menu-nav a:focus{
	color: seashell;
}

.top-menu-nav a::after{
	content: '';
  	display: block;
	width: 0;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -18px;
	background:red;
	transition:all 0.3s ease-in-out;
}

.top-menu-nav a:hover::after{
	width: 100%;
}

.top-menu-nav{
	display: flex;
	width: 160%;
	justify-content: space-around;
	list-style: none;
}

.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width:25px;
	height: 2px;
	background-color:#8f8f8f;
	margin:5px;
}

.top-account{
	color: #8f8f8f;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20%;
	letter-spacing: 1px;
	font-style: bold;
	font-size: 14px;
}

.top-account a{
	color: #8f8f8f;
	font-size: 20px;
}

.top-account-img{
	border-radius: 50%;
	border: 1px solid red;
}
/* header end */

/* main content introduction */

.main-top{
	position: relative;	
}
.main-top-bg-intro{
	position: absolute;
	right: 20%;
	top: 25%;
	color: seashell;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.main-top-spd{
	position: absolute;
	left: -100%;
	animation: spider 1s ease-in-out forwards;
}
.main-top-bg-intro h1{
	font-weight: 900;
}
.main-top-bg-intro h2{
	font-size: 30px;
	font-weight: 100;
}
.main-top-bg-intro p:nth-of-type(1){
	color:#8f8f8f;
}

.main-top-bg-intro p:nth-of-type(2){
	color:#aaa;
	font-size: 10px;
	margin-top: 1em;;
}
.main-top-bg-intro p:nth-of-type(3){
	margin-top: 1em;
	padding: 1em 1.5em;
	border: 1px solid #fa5c17;
	border-radius: 50px;
	display: inline-block;
	transition: 0.5s ease-in-out;
}
.main-top-bg-intro p:nth-of-type(3):hover{
	background-color:#fa5c17;
	box-shadow: 2px 3px #df2020;
}
.main-movie{
	display: flex;
	justify-content: space-between;
	margin-left: 3em;
	margin-top: 2em;
}
.main-movie img{
	border-radius: 10px;
	width: 80%;
	transition: 2s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	transform: scaleX(1);
	transform: scaleY(1);
}
.main-movie img:hover{
	filter: brightness(40%);
	transform: scale(1.2, 1.2);	
}
/* main content introduction end*/

@media screen and (max-width:1360px){
	.main-top-bg-intro{
	right:19%;
	top: 24%;
	/* height:98vh; */
	/* font-size: 90%; */
	}
}
@media screen and (max-width:1280px){
	.main-top-bg-intro{
		/* right:17%; */
		top: 23%;
		height:98vh;
		font-size: 90%;
		}
}
@media screen and (max-width:1200px){
	.main-top-bg-intro{
		/* right:15%; */
		top: 22%;
		height:80vh;
		font-size: 85%;
		}
}
@media screen and (max-width:1100px){
	.main-top-bg-intro{
		/* right:12%; */
		top: 21%;
		height:80vh;
		font-size: 85%;
		}
		.main-top-bg-intro h2{
			font-size: 25px;
			font-weight: 100;
		}
}
@media screen and (max-width:1024px){
	.top-account{
		width: 21%;
	}
	.top-menu-nav{
		width: 150%;
	}
	.main-top-bg-intro{
		/* right:10%; */
		top: 20%;
		height:80vh;
		font-size: 70%;
		}
}
@media screen and (max-width:976px){
	.top-account{
		width: 22%;
	}
	.top-menu-nav{
		width: 145%;
	}
	.main-top-bg-intro{
		/* right:7%; */
		top: 16%;
		height:70vh;
		font-size: 65%;
		}
		.main-top-bg-intro h2{
			font-size: 20px;
			font-weight: 100;
		}

}

@media screen and (max-width:860px){
	.top-menu-nav{
		width: 140%;
	}
	.top-account{
		width: 23%;
	}
	.main-top-bg-intro{
		/* right:5%; */
		top: 14%;
		height:55vh;
		font-size: 45%;
		}
		.main-top-bg-intro h2{
			font-size: 12px;
			font-weight: 100;
		}
		.main-top-bg-intro p:nth-of-type(2){
			font-size: 7px;
		}
}

@media screen and (max-width:773px){
	.main-movie{

		margin-left: 2em;
	}
	.main-top-bg-intro{
		/* right:1%; */
		top: 10%;
		height:38vh;
		width: 40%;
		font-size: 35%;
		}

		.main-top-bg-intro h2{
			font-size: 8px;
			font-weight: 100;
		}
		.main-top-bg-intro p:nth-of-type(2){
			font-size: 5px;
		}
	.top-menu-nav{
		width: auto;
	}
	.top-account{
		width: auto;
	}
	body{
		overflow: hidden;
	}
	.top-menu-nav{
		position: absolute;
		left: 0;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: #2a2a2a;
		width: 30%;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in;
		z-index: 1;
		
	}
	.top-menu-nav li{
		opacity: 0;
		animation: navLinkFade 1s ease-in-out forwards;
	}
	.top-account-img, .top-account-name{
		display: none;
		
	}
	
	.top{
		height: 8.5vh;
	}
	.burger{
		display: block;
		margin-left: 1em;
	}
	.top-account div .fa{
		margin-right: 1em;
	}
}
.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		/* opacity: 0;*/
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes spider{
	from{
	
	}
	to{
		
		left: 0;
	}
}