*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #aaa;
}
.header-one{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-one img{
    width: 13%;
    margin: 2em 5em;
}
.header-one #signin{
    margin: 2em 5em;
    font-size: 16px;
    padding: 0.8em 1.2em;
    color: seashell;
    /* border-radius: 5px; */
    background-color: red;
    text-decoration: none;
}
.table{
    display: flex;
    justify-content: space-evenly;
}
.table-choose{
    margin-right: 2em;
}
.table-payment-detail input{
    outline-color: invert ;
    outline-style: none ;
    outline-width: 0px ;
    border: 1px solid red ;
    /* border-style: none ; */
    text-shadow: none ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: transparent ;
    box-shadow: none;
    padding: 1em 6em 1em 1em;
    transition: .5s ease-in-out;
    margin: 10px;
}
.table-payment-detail input:hover{
    background-color: rgb(214, 214, 214);
}
.next{
    text-decoration: none;
    color: seashell;
    border: 1px solid red;
    background-color: red;
    position: relative;
    left: 50%;
    bottom: 0;
    padding: .8em 1.5em;
}
.tabli-choose-basic{
    text-align: center;
    margin: 1em 0;
    border: 1px solid red;
    transition: 1s ease-in-out;
   
}
.tabli-choose-basic a{
    text-decoration: none;
    color: black;
}
.tabli-choose-basic a:hover{
    color:white;
 
}
.tabli-choose-basic:hover{

    background-color: red;
}
.tabli-choose-basic a:active{
    color:white;
    background-color: red;
}
.tabli-choose-basic:active{
    color:white;
    background-color: red;
}