/* Header Start*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}
body{
	background-color: #303030;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	background-color: #2a2a2a;
	position: relative;
}
.top-menu-nav a{
	color: #8f8f8f;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-style: bold;
	font-size: 14px;
	position: relative;
}
.top-menu-nav a:focus{
	color: seashell;
}

.top-menu-nav a::after{
	content: '';
  	display: block;
	width: 0;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -18px;
	background:red;
	transition:all 0.3s ease-in-out;
}

.top-menu-nav a:hover::after{
	width: 100%;
}

.top-menu-nav{
	display: flex;
	width: 160%;
	justify-content: space-around;
	list-style: none;
}

.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width:25px;
	height: 2px;
	background-color:#8f8f8f;
	margin:5px;
}

.top-account{
	color: #8f8f8f;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20%;
	letter-spacing: 1px;
	font-style: bold;
	font-size: 14px;
}

.top-account-name>a{
	color: #8f8f8f;
	font-size: 16px;
	text-decoration: none;
}

.top-account>div:nth-child(3) a{
	color: #8f8f8f;
	font-size: 20px;
	text-decoration: none;
}

.top-account-img{
	border-radius: 50%;
	margin: 10px 0;
	
}
/* header end */
/* main start*/
.main{
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
}
.main .main-img{
	display: flex;
	justify-content: center;
	width: 100%;
}
.main .main-content{
	margin: 2em 13.5em;
	color: seashell;
	
}
.main-content p{
	margin: 1em 0;
}
.main-content h2:nth-of-type(1){
	margin-top: 1.5em;
}
/* main end*/

/*footer start */
.footer{
	display: flex;
	flex-direction: column;
	background-color: black;
	padding: 2em 0;
}
.footer .icon{
	display: flex;
	justify-content: flex-start;
	margin-left: 44%;
}
.footer img{
	margin: 0 1em;
	
}
.footer .content{ 
	display: flex;
	
	justify-content: space-evenly;
	margin-top: 1em;
	
}
.footer .content a{
	color: #8f8f8f;
	text-decoration: none;
}
.footer .content a:hover{
	color:white;
}

/*footer end*/

@media screen and (max-width:1360px){
	.main-top-bg-banner{
	right:19%;
	top: 15vh;
	/* height:98vh; */
	/* font-size: 1vw; */
	}
	.main-top-bg-banner h2{
		font-size: 2vw;
		font-weight: 100;
	}
	.main-top-bg-banner h1{
		font-size: 2vw;
		font-weight: 100;
	}
}
@media screen and (max-width:1280px){
	.main-top-bg-banner{
		/* right:17%; */
		top: 15vh;
		/* height:80vh; */
		/* font-size: 1vw; */
		}
		.main-top-bg-banner h2{
			font-size: 2vw;
			font-weight: 100;
		}
		.main-top-bg-banner h1{
			font-size: 2vw;
			font-weight: 100;
		}
}
@media screen and (max-width:1200px){
	.main-top-bg-banner{
		top: 15vh;

		}
		.main-top-bg-banner h2{
			font-size: 2vw;
			font-weight: 100;
		}
		.main-top-bg-banner h1{
			font-size: 2vw;
			font-weight: 100;
		}
		.Movie-list-firstLine-img{
			/* flex-wrap: wrap; */
			overflow: scroll;
			width: 94%;
			
		}
		.Movie-list-firstLine-img img{
			width: 15%;
		}
		.Movie-list-firstLine>h3{
			font-size: 1.5vw;
			
		}
}
@media screen and (max-width:1100px){
	.main-top-bg-banner{
		/* right:12%; */
		top: 14vh;
		/* height:80vh; */
		/* font-size: 1vw; */
		}
		.main-top-bg-banner h2{
			font-size: 2vw;
			font-weight: 100;
		}
		.main-top-bg-banner h1{
			font-size: 2vw;
			font-weight: 100;
		}
}
@media screen and (max-width:1024px){

	.top-account{
		width: 21%;
	}
	.top-menu-nav{
		width: 150%;
	}
	.main-top-bg-banner{
		/* right:10%; */
		top: 13vh;
		/* height:80vh; */
		/* font-size: 1vw; */
		}
		.main-top-bg-banner h2{
			font-size: 2vw;
			font-weight: 100;
		}
		.main-top-bg-banner h1{
			font-size: 2vw;
			font-weight: 100;
		}
		.main-img img{
			width: 100%;
		}
}
@media screen and (max-width:976px){

	.top-account{
		width: 22%;
	}
	.top-menu-nav{
		width: 145%;
	}
	.main-top-bg-banner{
		/* right:7%; */
		top: 12vh;
		/* height:70vh; */
		/* font-size: 1vw; */
		}
		.main-top-bg-banner h2{
			font-size: 2vw;
			font-weight: 100;
		}
		.main-top-bg-banner h1{
			font-size: 2vw;
			font-weight: 100;
		}
		.main .main-content{
			margin: 2em 11.5em;
			/* width: 100%; */
		}



}

@media screen and (max-width:860px){
	.top-menu-nav{
		width: 140%;
	}
	.top-account{
		width: 23%;
	}
	.main-top-bg-banner{
		/* right:5%; */
		top: 11vh;
		/* height:55vh; */
		/* font-size: 1vw; */
		}
		.main-top-bg-banner h1{
			font-size: 2vw;
			font-weight: 100;
		}
		.main-top-bg-banner h2{
			font-size: 2vw;
			font-weight: 100;
		}
		.main .main-content{
			margin: 2em 9.5em;
			/* width: 100%; */
		}



}

@media screen and (max-width:773px){
	.main .main-content{
		margin: 2em 7.5em;
		/* width: 100%; */
	}
	.main-movie{
		margin-left: 2em;
		flex-wrap: wrap;
	}
	.Movie-list-firstLine-img{
		/* flex-wrap: wrap; */
		overflow: scroll;
		width: 89%;
	}
	.Movie-list-firstLine-img img{
		width: 15%;
	}
	.main-movie img:hover{
		transform: scale(1,1);
	}
	.main-movie>div{
		width: 28%;
	}
	.main>h3{
		left: 1vw;
		font-size: 1vw;
	}
	.main-top-bg-banner{
	
		top: 10vh;
		/* height:38vh; */

		/* font-size: 1vw; */
		transition: 2s ease-in-out;
		transform: translateX(auto);
	}
	.main-top-bg-banner h1{
		font-size: 2vw;
		font-weight: 100;
	}

	.main-top-bg-inbannertro h2{
			font-size:2vw;
			font-weight: 100;
	}

	.top-menu-nav{
		width: auto;
	}
	.top-account{
		width: auto;
	}
	/* body{
		overflow: hidden;
	} */
	.top-menu-nav{
		position: absolute;
		left: 0;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: #2a2a2a;
		width: 30%;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in;
		z-index: 1;
		
	}
	.top-menu-nav li{
		opacity: 0;
		animation: navLinkFade 1s ease-in-out forwards;
	}
	.top-account-img, .top-account-name{
		display: none;
		
	}
	.main-top-spd img{
		opacity: 1;
		animation: miss 2s ease-in-out forwards;
	}
	.top{
		height: 8.5vh;
	}
	.burger{
		display: block;
		margin-left: 1em;
	}
	.top-account div .fa{
		margin-right: 1em;
	}
}

@media screen and (max-width:689px){
	.main .main-content{
		margin: 2em 6.5em;
		/* width: 100%; */
	}
	.main-top-bg-banner{
	
		top: 8vh;
		/* width: 50vw; */
		left:20%;

		font-size: 1vw;
		transform: translateX(0);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.main-top-bg-banner h1{
		font-size: 2vw;
		font-weight: 100;
	}

	.main-top-bg-banner h2{
			font-size:2vw;
			font-weight: 100;
	}
	.main-movie p{
		font-size: 1vw;
    }
    .main-top-bg-banner p:nth-of-type(3){
        padding: 0.5em 1em;
        margin-top: 0;
    }
    .main-top-bg-banner p:nth-of-type(2){
        margin-top: 0;
    }
}
@media screen and (max-width:550px){
	.footer .icon{
		margin-left: 35%;
	}
	.main .main-content{
		margin: 2em 5.5em;
		/* width: 100%; */
	}
	.main-top-bg-banner{
	
		top: 6vh;
		/* width: 50vw; */
		left:20%;

		font-size: 1vw;
		transform: translateX(0);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
    }
    .main-top-bg-banner p:nth-of-type(3){
        padding: 0.5em 1em;
        margin-top: 0;
    }
    .main-top-bg-banner p:nth-of-type(2){
        margin-top: 0;
    }

}
@media screen and (max-width:468px){
	.footer .icon{
		margin-left: 30%;
	}
	.main .main-content{
		margin: 2em 3.5em;
		/* width: 100%; */
	}
	.main-top-bg-banner{	
		top: 4vh;
		/* width: 50vw; */
		left:20%;
    }
    .main-top-bg-banner p:nth-of-type(3){
        padding: 0.5em 1em;
        margin-top: 0;
    }
    .main-top-bg-banner p:nth-of-type(2){
        margin-top: 0;
    }

}
@media screen and (max-width:421px){
	.main-top-bg-banner{
	
		top: 2vh;
		/* width: 50vw; */
		left:20%;

		font-size: 1vw;
		transform: translateX(0);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
    }
    .main-top-bg-banner p:nth-of-type(3){
        padding: 0.5em 1em;
        margin-top: 0;
    }
    .main-top-bg-banner p:nth-of-type(2){
        margin-top: 0;
    }

}
@media screen and (max-width:375px){
	.main-top-bg-banner{
	
		top: 0vh;
		/* width: 50vw; */
		left:20%;

		font-size: 1vw;
		transform: translateX(0);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
    }
    .main-top-bg-banner p:nth-of-type(3){
        padding: 0.5em 1em;
        margin-top: 0;
    }
    .main-top-bg-banner p:nth-of-type(2){
        margin-top: 0;
    }

}
.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		/* opacity: 0;*/
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes spider{
	from{
		opacity: 0;
	}
	to{
		
		opacity: 1;
	}
}

@keyframes miss{
	from{

	}to{
		opacity: 0;
	}
}

